__pycache__/
pretrained_models/
output_*
datasets/ytvis_2022
mask2former/modeling/pixel_decoder/ops/MultiScaleDeformableAttention.egg-info/
mask2former/modeling/pixel_decoder/ops/build/
mask2former/modeling/pixel_decoder/ops/dist/